{{#if message}}
  <div class="">{{message}}</div>
{{/if}}


<div class="login">


  <form action="" method="POST" class="login-form">


   <div class="word-email">Email</div>
   <div class="login-email">
      <input type="email" name="email" placeholder="">
    </div>

    <div class="word-password">Password</div>
    <div class="login-password">
    <input type="password" name="password" placeholder="">
    </div>
    <div class="login-button">
      <input type="submit" value="Log In" class="login-btn">
    </div>
  </form>
</div>
