<div class="signin">


  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="" method="POST" class="signup-form">

      <div class="word-email">Email</div>
    <div class="signup-email">
      <input type="email" name="email" placeholder="">
    </div>

      <div class="word-password">Password</div>
    <div class="signup-password">
      <input type="password" name="password" placeholder="">
    </div>
    <div class="signup-button">
      <input type="submit" value="Sign Up" class="signup-btn">
    </div>
  </form>
</div>

